/*===========================================================================
; DVInstaller.rc
;----------------------------------------------------------------------------
; Copyright (C) 2021 Intel Corporation
; SPDX-License-Identifier: MIT
;
; File Description:
;   This file will have the DVInstaller resources 
;--------------------------------------------------------------------------*/

    #include "winver.h"
    #include "version.h"
    VS_VERSION_INFO VERSIONINFO
        FILEVERSION FILE_VERSION
        PRODUCTVERSION PRODUCT_VERSION
    {
        BLOCK "StringFileInfo"
        {
            BLOCK "040904b0"
            {
                VALUE "FileDescription",    "Display Virtualization Installer"
                VALUE "FileVersion",        FILE_VERSION_STR
                VALUE "LegalCopyright",     "Copyright (C) 2021 Intel Corporation"
                VALUE "ProductName",        "DVInstaller.dll"
                VALUE "ProductVersion",     PRODUCT_VERSION_STR
            }
        }
        BLOCK "VarFileInfo"
        {
            VALUE "Translation", 0x409, 1200
        }
    }